@charset "utf-8";
body{
	font-size:14px;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}
ul,li,ol{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
#bgMask{position:fixed; width:100%; height:100%; background-color:#000; z-index:10; top:0; left:0; opacity:0.5;filter:alpha(opacity=50); display:none;}

#main-top{
	height:50px;
	width:100%;
	border-bottom: 1px #666 solid;
	background: #009;
	color:#FFF;
	text-align:center;
	line-height:50px;
}
#main-top font{
	font-size:24px;
}

#main-left{
	border-right: 1px #666 solid;
	width:180px;
	min-height:200px;
	height:100%;
	overflow:scroll;
	padding:10px;
	float:left;
	position:absolute;
	background:#fafafa;
}

#main-right{
	min-height:200px;
	padding:10px;
	margin-left:210px;
}
.bottom{
	text-align:right;
	position:fixed;
	bottom:10px;
	right:10px;
}
.bottom em{
	font-size:12px;
	color:#999;
}

#main-left ul{padding:0;}
#all-folder {
	height:30px;
	background:url(../images/all-folder-30.png) left center no-repeat ;
	padding-left:40px;
	line-height:30px;
}
.folder:hover{
	border: 1px #666 solid;
	cursor: pointer;
}
.folder-childs{
	height:30px;
	background:url(../images/cat-folder-30.png) left center no-repeat ;
	padding-left:40px;
	line-height:30px;
	margin-top:5px;
}

#main-right img{
	margin:10px;
}

/*** pop box ***/
#pop{
	display:none;
	position:absolute;
	z-index:100; 
	top:50%;
	left:50%;
	border: 2px #fff solid;
}

#pop_close{
	width:35px;
	height:35px;
	/*background:url(../images/close_btn.png) no-repeat center center;*/
	right:0;
	position: absolute;
	cursor:pointer;
}
#pop_close:hover{
	background:url(../images/close_btn_h.png) no-repeat center center;
}

#pop_autoplay{
	width:40px;
	height:40px;
	/*background:url(../images/play.png) no-repeat center center;*/
	left:0;
	position: absolute;
	cursor:pointer;
}
#pop_autoplay:hover{
	background:url(../images/play_h.png) no-repeat center center;
}
#pop_pause{
	width:40px;
	height:40px;
	background:url(../images/pause.png) no-repeat center center;
	left:0;
	position: absolute;
	cursor:pointer;
	display:none;
}
#pop_pause:hover{
	background:url(../images/pause_h.png) no-repeat center center;
}

#pop_top{
	width:100%;
	height:10%;
	/*background:url(../images/tprev.png) no-repeat center center;*/
	position: absolute;
	cursor:pointer;
}
#pop_top:hover{
	background:url(../images/tprev_h.png) no-repeat center center;
}
#pop_left{
	width:30%;
	height:100%;
	/*background:url(../images/prev.png) no-repeat center center;*/
	position: absolute;
	cursor:pointer;
}
#pop_left:hover{
	background:url(../images/prev_h.png) no-repeat center center;
}
#pop_right{
	width:30%;
	height:100%;
	/*background:url(../images/next.png) no-repeat center center;*/
	position: absolute;
	right:0;
	cursor:pointer;
}
#pop_right:hover{
	background:url(../images/next_h.png) no-repeat center center;
}
#pop_bottom{
	width:100%;
	height:10%;
	/*background:url(../images/bprev.png) no-repeat center center;*/
	position: absolute;
	bottom:0;
	cursor:pointer;
}
#pop_bottom:hover{
	background:url(../images/bprev_h.png) no-repeat center center;
}

/*** end pop box ***/